* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------- Home -------------------  */

.infocard-row {
  margin-top: 72px;
  display: flex;
  gap: 48px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 48px;
}

/* ------------------- Students Page -------------------  */


.table-container {
  position: relative;
  border-radius: 8px;
  margin: 72px 60px 0 60px;
  padding: 32px 60px 120px;
  background-color: rgba(246, 246, 246, 0.389);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* width: max-content; */
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: left; */
}

.shimmer-container {
  border-radius: 8px;
  margin: 72px 60px 0 0;
  padding: 32px 60px 0;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.tableTitleRow {
  display: flex;
  justify-content: space-between;
}

.tableTitle {
  display: flex;
  flex-direction: column;
  /* gap: ; */
  width: 100%;
  justify-content: left;
}

.tableTitle-main {
  font-size: 20px;
  font-weight: 600;
}

.tableTitle-sub {
  font-size: 0.8rem;
  color: grey;
  margin-bottom: 24px;
}

.tableTitleRow .btns-section {
  display: flex;
  gap: 8px;
}

.add-user-btn {
  border: none !important;
  display: flex;
  text-wrap: nowrap;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: 40px;
  background-color: #2d4a26;
  color: white;
  /* color: #FD813B; */
  border-radius: 8px;
  cursor: pointer;
}

.refresh-btn {
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px !important;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
}

.refresh-btn svg {
  color: #84848c;
  font-size: 1.6rem;
}

.refresh-btn-loading {
  justify-content: start;
  padding: 0 10px 18px 10px;
}

.loading {
  color: grey;
  font: 2rem Impact;
  text-align: center;
}

/* loading dots */

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: grey;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 grey, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 grey, 0.5em 0 0 grey;
  }
}

.table-container table {
  padding-top: 24px;
}

.table-container tr {
  border-bottom: 2px solid rgb(204, 204, 204);
}

.table-container thead th {
  text-wrap: nowrap;
  color: grey;
  font-weight: 500;
  font-size: 1rem;
  /* padding: 12px 60px 12px 0; */
  /* margin-left: 24px; */
  /* background-color: pink; */
  text-align: left;
}

.table-container thead th:nth-child(1) {
  padding: 12px 72px 12px 0;
}

.table-container thead th:nth-last-child(1) {
  padding: 12px 0;
}

.table-container tbody td {
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-wrap: nowrap;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 30px 12px 0;

  text-align: left;
}

.table-container tbody td:nth-child(1) {
  padding: 12px 72px 12px 0;
}

.table-container tbody td:nth-last-child(1) {
  padding: 12px 0;
}

.approved {
  align-items: center;
  width: max-content;
  text-align: center;
  font-size: 0.7rem;
  padding: 6px 16px;
  background-color: #c4f4e6;
  color: #00a873;
  border-radius: 50px;
}

.notApproved {
  width: max-content;
  text-align: center;
  font-size: 0.7rem;
  padding: 6px 16px;
  background-color: #fcd6d3;
  color: #fe2c25;
  border-radius: 50px;
}

.action-btns {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.table-text-btn {
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 40px; */
  /* width: 60px; */
  padding: 8px 16px;

  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.table-text-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.allow-btn {
  background-color: #c4f4e6;
  color: #00a873;
}

.delete-btn {
  background-color: #fcd6d3;
  color: #fe2c25;
}
