* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: end;

  /* flex-wrap: nowrap; */
  padding: 16px 36px;
  position: relative;
  color: white;
  width: 100%;
  background-color: cadetblue;
}

.nav-container ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-container ul li {
  list-style-type: none;
}

.nav-container .notification-icon-box {
  /* all: unset;  it resets all the prvs props of the element*/ 
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 8px !important;
  overflow: hidden;
  background-color: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.nav-container .notificaion-icon {
  color: rgb(146, 145, 145);
}

.nav-container .profile-pic {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.nav-container .profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
