* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 36px;
  position: relative;
  color: white;
  min-width: 80vw;
  background-color: #fff;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-title {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.nav-container ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-container ul li {
  list-style-type: none;
}

.nav-container .notification-icon-box {
  /* all: unset;  it resets all the prvs props of the element*/
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 8px !important;
  overflow: hidden;
  background-color: rgb(234, 236, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.nav-container .notificaion-icon {
  color: #84848c;
  font-size: 1.2rem;
}

.profile-pic {
  all: unset;
  cursor: pointer;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.nav-container .profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-pic p {
  color: black;
}

.user-details-pane {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-width: 200px;
  min-height: 150px;
  background-color: rgba(234, 236, 235, 0.8);
  background-color: #2d4a26f1;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 8px 0;
  position: absolute;
  right: 10px;
  top: 70%;
  z-index: 2;
  border-radius: 8px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.user-details-pane button {
  width: 100%;
  height: 40px;
  padding: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  gap: 8px;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  color: rgb(65, 65, 65);
  color: white;
  font-size: .9rem;
}

.user-details-pane button:hover {
  background-color: rgba(226, 226, 226, 0.149);
}

.user-details-pane p {
  color: rgb(65, 65, 65);
  color: white;
  font-size: .9rem;
}
.show-pane {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
