* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 36px;
  position: relative;
  color: white;
  min-width: 80vw;
  background-color: #fff;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-title {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.nav-container ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-container ul li {
  list-style-type: none;
}

.nav-container .notification-icon-box {
  /* all: unset;  it resets all the prvs props of the element*/
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 8px !important;
  overflow: hidden;
  background-color: rgb(234, 236, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.nav-container .notificaion-icon {
  color: #84848c;
  font-size: 1.2rem;
}

.profile-pic {
  all: unset;
  cursor: pointer;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.nav-container .profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


.profile-pic p {
  color: black;
}