.leftdrawer-container {
  box-sizing: border-box;
  height: 100vh;
  /* height: 100%; */
  width: 20vw;
  background-color: #cd4f1d;
  background-color: #21331d;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 16px 24px;
}

.ubts-logo {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  padding-left: 12px;
}

.links-container {
  padding: 16px 0;
}

.links-container ul {
  display: flex;
  flex-direction: column;
}

.links-container ul li {
  list-style: none;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  box-sizing: border-box;
  
}

.links-container ul li:hover {
  background-color: #ffffff1a;
}

.links-container ul li a {
  width: 100%;
  margin-top: 2px;
  padding: 12px 16px;
  text-decoration: none;
  color: #fff;
  /* padding: 0 16px; */
  font-size: 1rem;
  font-weight: 600;
  
}

.links-container ul li svg {
  box-sizing: content-box;
  padding-right: 12px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
